<div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <table class="table" *ngIf="exchange.info">
                    <tbody>
                        <tr>
                            <td>
                                <img class="logo" src="https://static.thecoins.top/exchange/{{exchange.info.nick}}.png" alt="{{exchange.info.nick}}">
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <a target="_blank" href="{{exchange.info.url}}">{{exchange.info.url}}</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="25%">
                                <a target="_blank" href="{{exchange.info.fees}}">
                                    <i class="fa fa-usd"></i> Fees
                                </a>
                            </td>
                            <td width="25%">
                                <a target="_blank" href="{{exchange.info.chat}}">
                                    <i class="fa fa-telegram"></i> Chat
                                </a>
                            </td>
                            <td width="25%">
                                <a target="_blank" href="{{exchange.info.blog}}">
                                    <i class="fa fa-rss"></i> Blog
                                </a>
                            </td>

                            <td width="25%">
                                <a target="_blank" href="{{exchange.info.twitter}}">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div [chart]="chart"></div>
        </div>
    </div>

</div>