<div class="row mb-2">
  <div class="col-md-9">

    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
      <clr-dg-column>{{ "rank" | translate }}</clr-dg-column>
      <clr-dg-column>{{ "exchange" | translate }}</clr-dg-column>
      <!-- <clr-dg-column>{{ "links" | translate }}</clr-dg-column> -->
      <clr-dg-column>{{ "volume" | translate }}</clr-dg-column>
      <clr-dg-column>{{ "trend" | translate }}</clr-dg-column>
      <clr-dg-column>{{ "action" | translate }}</clr-dg-column>

      <clr-dg-row *ngFor="let exchange of exchanges">
        <clr-dg-cell>{{exchange.lastrank}}</clr-dg-cell>
        <clr-dg-cell>
          <a target="_blank" href="{{exchange.url}}">
          <img class="logo" src="https://static.thecoins.top/exlogo/{{exchange.name}}.jpg" alt="{{exchange.name}}" onError="this.src='https://static.thecoins.top/coinlogo/thecoins.svg'">
          {{exchange.firstname}}  
        </a>     
        </clr-dg-cell>
        <clr-dg-cell>
          <span *ngIf="exchange.volume">{{volume(exchange.lastvolume)}}</span>
        </clr-dg-cell>
        <clr-dg-cell>
          <ngx-trend *ngIf="exchange.volume" class="trend" width="160" height="40" [data]="parse(exchange.volume)" [gradient]="['#2196F3']"
            strokeWidth="1">
          </ngx-trend>
        </clr-dg-cell>
        <clr-dg-cell>
          <a class="btn btn-sm" href="" [routerLink]="['/exchange',exchange.nick]" >{{ "more" | translate }}</a>
        </clr-dg-cell>

      </clr-dg-row>

      <clr-dg-footer>

        <clr-dg-pagination [(clrDgPage)]="current" [clrDgPageSize]="size" #pagination [clrDgTotalItems]="total"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="col-md-3">
      <app-sidebar></app-sidebar>
  </div>
</div>