<div class="card">
    <div class="card-header">
        {{ "global" | translate }}
    </div>
    <div class="card-block">
        <div class="card-text">
            <ul>
                <li>
                    <span>{{ "totalmarketcap" | translate }}: </span>{{market(global.total_market_cap_cny,global.total_market_cap_usd)}}</li>
                <li>
                    <span>{{ "totalvolume" | translate }}: </span>{{volume(global.total_24h_volume_cny,global.total_24h_volume_usd)}}</li>
                <li>
                    <span>{{ "activemarkets" | translate }}: </span>{{global.active_markets}}</li>
                <li>
                    <span>{{ "activecurrencies" | translate }}: </span>{{global.active_currencies}}</li>
                <li>
                    <span>{{ "activeassets" | translate }}: </span>{{global.active_assets}}</li>

            </ul>
        </div>
    </div>

</div>

<div class="card">
    <div class="card-header">
        {{ "wechat" | translate }}
    </div>
    <div class="card-block">

        <div class="card-text text-center">
            <img class="img-thumbnail " src="./assets/wechat.png" alt="wechat">
        </div>
    </div>

</div>

