/* You can add global styles to this file, and also import other style files */

.social {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px 3px;
    color: #ddd !important;
    display: inline-block;
    margin-left: 3px;
}

.social:hover {
    color: #fff !important;
    background: #aaa;
    text-decoration: none;
}

.datagrid-row-flex {
    align-items: center !important;
}

.pagination-list button{
    padding: 0 0.3rem!important;
}