<div class="row">
  <div class="col-md-12">
    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
      <clr-dg-column>Rank</clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Market Cap</clr-dg-column>
      <clr-dg-column>Price</clr-dg-column>
      <clr-dg-column>Volume(24)</clr-dg-column>
      <clr-dg-column>Circulating Supply</clr-dg-column>
      <clr-dg-column>Change(24)</clr-dg-column>

      <clr-dg-row *ngFor="let coin of coins">
        <clr-dg-cell>#{{coin.rank}}</clr-dg-cell>
        <clr-dg-cell>{{coin.name}}</clr-dg-cell>
        <clr-dg-cell>￥{{coin.quotes.CNY.market_cap | numbersWithCommas}}</clr-dg-cell>
        <clr-dg-cell>
          <span class="text-primary">￥{{coin.quotes.CNY.price | numbersDigits | numbersWithCommas}}</span>
        </clr-dg-cell>
        <clr-dg-cell>￥{{coin.quotes.CNY.volume_24h | numbersDigits | numbersWithCommas}}</clr-dg-cell>
        <clr-dg-cell>{{coin.total_supply | numbersWithCommas}} {{coin.symbol}}</clr-dg-cell>
        <clr-dg-cell>
          <span [class]="upordown(coin.quotes.CNY.percent_change_24h)">{{coin.quotes.CNY.percent_change_24h}}%</span>
        </clr-dg-cell>

      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination [(clrDgPage)]="current" [clrDgPageSize]="size" #pagination [clrDgTotalItems]="total"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </div>

</div>