.change {
    // color: #fff;
    display: inline-block;
    width: 45px;
    &.up {
        color: red;
    }
    &.down {
        color: green;
    }
}

.logo{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}